<f:layout name="Default" />
<f:section name="Main">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Sekcja górna</h3>
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h4>Treść - lewo</h4>
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '10'}" />
            </div>
            <div class="col-sm-4">
                <h4>Treść - środek</h4>
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '20'}" />
            </div>
            <div class="col-sm-4">
                <h4>Treść - prawo</h4>
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '30'}" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Sekcja dolna</h3>
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '40'}" />
            </div>
        </div>
    </div>

</f:section>
